/* selector global */
* {
  box-sizing: content-box;
}
body,
html {
  padding: 0;
  margin: 0;
}

body {
  background-color: rgb(255, 157, 157);
}
.myli {
  background-color: azure;
  color: rgb(227, 248, 241);
}
/* con el punto es el selector del class que creamos en etiquetas de html*/
header {
  color: rgb(214, 194, 42);
  background-color: rgb(227, 221, 135);
}

.content-content-box > div {
  background: rgb(214, 194, 75);
  width: 300px;
  height: 30px;
  margin: 30px;
  border: 5px solid rgb(137, 28, 28);
}

/* este es todo el elemento de header */
#article-1 {
  background-color: rgb(235, 194, 42);
}
/* este es el selector de id  */

#myp {
  color: blueviolet;
}
.myp {
  font-size: 24px;
}
.back {
  background-color: beige;
}
.color-rojo-back-azul {
  color: brown;
  background-color: blue;
}

/*
.div-embebido {
  background-color: rgb(190, 116, 212);
}
*/

/* MODELO DE CAJA - DIV */
.contenedor {
  margin: 50px;
  /* espacio entre el ... */
  background-color: brown;
  padding: 10px;
  /* espacio entre el borde y el contenido */
  border: 5px solid red;
  /* borde  */
  color: green;
}
.contenido {
  /*margin: 100px;*/
  background-color: rgb(164, 106, 106);
}

.contenedor-con-imagen {
  width: 400px;
  height: 400px;
  padding: 20px;
  background-color: aqua;
  background-image: url("/public/imagen1.jpg");
  background-size: cover;
  background-position: center;
  /* para insertar una imagen dentro del background */
  text-align: center;
}

.contenido-con-imagen {
  background-color: rgb(199, 193, 193);
}
/* selectores */

/* selector por elemento */
span {
  font-weight: bold;
}
/* se asignan los mismos estilos a elementos con nombres diferentes
en este caso, la regla afecta a todos los elementos p y span  */
p,
span {
  color: rgb(135, 104, 172);
}
/* afecta solo a los elementos p que se encuentran dentro de main, ya sea contenido directo o indirecto */
main p {
  background-color: rgb(112, 41, 41);
}

/* se usa > para referenciar a un elemento que es hijo directo */
.contenedor-parrafo > p {
  font-size: 35px;
}

/* este selector hace referencia a elementos que están precedidos por otros elementos; ambos deben estar al mismo nivel */
h1 + p {
  color: red;
}

/* Estilos más usados */
/* declara el tipo de letra que se usa para mostrar en un texto, Se pueden declarar múltiples valores separados popr coma para ofrecer al navegador varias alternativas en casi que alguna no se encuentre disponible */
.container {
  border-top: 1px solid rgb(220, 102, 102);
  padding: 20px;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: white;
  /* acá le ofrecemos alternativas de fuentes */
}

.container > .content > p {
  background-color: rgb(158, 123, 188);
  color: black;
  font-size: 25px;
  /* determina el tamaño de la fuente; puede estar en pixeles px, puntos pt, porcentaje %, rem proporcion al archivo */
  font-weight: 100;
  /* puedo usar bold (negrita) o valores desde el 100 al 1000 */
  font-style: oblique;
  /* normal, italic, oblique */
}
.content > h3 {
  background-color: antiquewhite;
  font: bold 30px Arial, sans-serif;
  /* permite declarar varios atributos al mismo tiempo, separador por espacios, primero el grosor, luego tamaño, luego tipo de fuente */
  text-align: center;
  line-height: 30px;
  /* define el espacio entre lineas */
  color: rgb(146, 52, 52);
}

.mydiv {
  height: 100px;
  width: 100px;
  border: 1px solid black;
  padding: 20px;
  background-color: rgb(219, 224, 148);
  text-align: center;
  background-image: url("/public/450_1000.jpeg");
}

.div-in-mydiv {
  height: 50px;
  width: 50px;
  border: 1px solid black;
  background-color: rgba(225, 225, 225, 10);
}

.div-in-mydiv-2 {
  height: 50px;
  width: 50px;
  border: 1px solid black;
  background-color: #d6a2d4;
}

/* tamaños */

.div-in-mydiv-3 {
  height: 50px;
  width: 50px;
  /*margin-top: 20px;
  /* para que el margen sea desde arriba */
  margin: 20px 0;
  border: 1px solid black;
  background-color: #a3d397;
}
.tamano {
  margin: 100px 20px;
  height: 200px;
  width: 200px;
  background-color: black;
}

.content {
  /*height: 400px;
  width: 200px;*/
  font-size: 30px;
}

.tamano-hijo {
  height: 25%;
  width: 25%;
  /* estos porcentajes son el relacion al elemento que lo contiene */
  background-color: rgb(255, 255, 255);
}

.div-vh-vw {
  height: 100vh;
  width: calc(100vw - 40px);
  background-color: rgb(79, 79, 123);
}
.punto {
  height: 100pt;
  width: 100pt;
  background-color: rgb(183, 67, 67);
}
.div-rem {
  height: 20rem;
  /* en relacion a la fuente de todo el html */
  width: 20rem;
  background-color: rgb(98, 207, 98);
}
.div-em {
  height: 20em;
  width: 20em;
  background-color: rgb(83, 203, 212);
}
._contenedor {
  background-color: red;
  width: 500px;
  height: 500px;
}
._contenido {
  background-color: green;
  width: 200px;
  height: 200px;
  max-height: 200px;
  /* maximo de alto */
  max-width: 200px;
  /* maximo de ancho */
  overflow-x: auto;
  /* puede ser auto, scroll, hidden */
  overflow-y: hidden;
}
._otrocontenido {
  background-color: blue;
  width: 150px;
  height: 150px;
}
.contenido-grande {
  height: 400 px;
  width: 400px;
  background-color: chocolate;
}
.contenedor-de-bordes > div {
  height: 100px;
  width: 100px;
  border-width: 5px;
  border-style: dotted;
  border-color: #9e1717;
  border-radius: 50%;
  margin-top: 20px;
}
.borde-1 {
  border-style: dashed !important;
}
.borde-2 {
  border-style: double !important;
}
.borde-3 {
  border-style: outset !important;
}
.borde-4 {
  border-style: solid !important;
}
.borde-en-una-linea {
  border: 10px solid rgb(179, 37, 167);
  /* 1. tamaño de linea (border-with) 2. estilo de borde 3. color */
  border-radius: 60px;
  height: 100px;
  width: 100px;
  margin-top: 20px;
}

.flex-container {
  display: flex;
  /* flex-direction: row; column; reverse, column-reverse, row-reverse */
  /*flex-direction: column-reverse;*/
  flex-wrap: wrap;
  /* wrap: se ajusta al tamaño de la pantalla.
  no wrap: se ajusta al ancho de la pantalla
  wrap reverse: lo mismo de wrap pero con los items ordenados al revez 
  flex-flow: row wrap;
  justify-content: end;*/
  /* combinacion de flex-direction con flex-wrap */
  align-content: space-between;
  font-size: 30px;
  border: 1px solid rgb(174, 255, 0);
  padding: 10px;
}
/* no se ve */

.flex-container > div {
  /*margin: 10px;*/
  background-color: #d8f186;
  padding: 20px;
  width: 100px;
  text-align: center;
  line-height: 70px;
  /* distancia que ocupa cada componente en cada salto de linea */
  height: 70px;
}

.contenedor-perfecto {
  display: flex;
  background-color: #ddd;
  height: 40vh;
  width: 40vw;
  justify-content: center;
  align-items: center;
}

.contenido-perfecto {
  display: flex;
  background-color: #00ff00;
  height: 100px;
  width: 100px;
  align-items: center;
  justify-content: center;
}
